h1 {
  text-align: center;
}
section {
  border: 2px solid black;
  margin-top: 20px;
  margin-right: 20px;
  padding: 3px;
  text-align: justify;
  position: relative;
  background-color: yellowgreen;
}
h2 {
  position: relative;
  text-align: center;
  float: right;
  top: 0;
  right: 0;
  margin: 0;
  position: absolute;
  background-color: yellow;
  justify-content: center;
}
p {
  margin-top: 30px;
}
@media (min-width: 992px) {
  div.container {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  div.container {
    display: flex;
    flex-wrap:wrap;
  }
  .beef,.chicken{
    flex: 1;
    
  }
  .fish {
   width: 100%;
   float: left;
  }
}
@media (max-width: 767px) {
  div.container {
    display: block;
  }
}
